ul .LaunchesList-list{
  padding-left: 5% !important;
}

.LaunchesList-item{
  display: flex;
  flex-direction: column;
}

.LaunchesList-card {
  border-bottom: 1px solid;
  padding-top: 15px;
}

.LaunchesList-head{
  border-bottom: 1px solid;
  padding-bottom: 20px;
  margin-bottom: 0px;
}
