ul .LaunchesList-list{
  padding-left: 5% !important;
}

.LaunchesList-item{
  display: flex;
  flex-direction: column;
}

.LaunchesList-card {
  border-bottom: 1px solid;
  padding-top: 15px;
}

.Launches-button{
  padding-top: 20px;
  padding-bottom: 30px;
}