ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

a {
  color: inherit;
  text-decoration: none; /* no underline */
  font-size: 1.8rem;
  border-bottom: 3px solid;
}

.Navigation-bar .Navigation-list {
  display: flex;
  flex-direction : row; /*2*/
  justify-content: flex-start; /*3*/
}

.Navigation-list {
  padding-left: 15%;
  padding-right: 15%;
}

.Navigation-bar a {
  padding: 1em;
  display: block;
  text-align:center;
  text-decoration: none;
}
